<a href="https://colab.research.google.com/github/ShreyasheeSinha/Determining-Robustness-of-NLU-Models/blob/main/analysis_notebooks/Incorrect_preds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Notebook which generated the sheet with all model incorrect predictions:

https://docs.google.com/spreadsheets/u/2/d/1-0FRj4AkbgoQF4-e4SmsewBG4CCm3frg/edit#gid=1702875836

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
!cp /content/gdrive/MyDrive/paraphraser_work/model_predictions.tar.gz model_predictions.tar.gz

In [ ]:
! gzip -d model_predictions.tar.gz

In [ ]:
! tar -xvf  'model_predictions.tar'

model_predictions/
model_predictions/MNLI_train_RTE_dev/
model_predictions/MNLI_train_RTE_dev/roberta-base/
model_predictions/MNLI_train_RTE_dev/roberta-base/roberta_base_2_class_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta-base/roberta_base_2_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta-base/roberta_base_3_class_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta-base/roberta_base_3_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta/
model_predictions/MNLI_train_RTE_dev/roberta/roberta-base/
model_predictions/MNLI_train_RTE_dev/roberta/roberta-base/roberta_base_3_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta/roberta-base/roberta_base_3_class_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta/roberta-base/roberta_base_3_class_hypo_only_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta/roberta-base/roberta_base_2_class_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta/roberta-base/roberta_base_3_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta/roberta-base/roberta_base_2_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta/roberta-base/roberta_base_2_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta/roberta-base/roberta_base_2_class_hypo_only_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta/roberta-large/
model_predictions/MNLI_train_RTE_dev/roberta/roberta-large/roberta_large_2_class_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta/roberta-large/roberta_large_3_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta/roberta-large/roberta_large_2_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta/roberta-large/roberta_large_2_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta/roberta-large/roberta_large_2_class_hypo_only_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta/roberta-large/roberta_large_3_class_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta/roberta-large/roberta_large_3_class_hypo_only_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta/roberta-large/roberta_large_3_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-large-uncased/
model_predictions/MNLI_train_RTE_dev/bert-large-uncased/bert_large_3_class_hypo_only_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-large-uncased/bert_large_2_class_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-large-uncased/bert_large_2_class_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-large-uncased/bert_large_3_class_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-large-uncased/bert_large_3_class_rte_test+p_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-large-uncased/bert_large_2_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-large-uncased/bert_large_2_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-large-uncased/bert_large_3_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-large-uncased/bert_large_2_class_hypo_only_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-large-uncased/bert_large_3_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-large-uncased/bert_large_3_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-large-uncased/bert_large_2_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_dev/cbow/
model_predictions/MNLI_train_RTE_dev/cbow/cbow_3_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_dev/cbow/cbow_3_class_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_dev/cbow/cbow_2_class_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_dev/cbow/cbow_2_class_hypo_only_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/cbow/cbow_3_class_hypo_only_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/cbow/cbow_2_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/cbow/cbow_3_class_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/cbow/cbow_2_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_dev/cbow/cbow_3_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/cbow/cbow_2_class_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/cbow/cbow_3_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/cbow/cbow_2_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-base-uncased/
model_predictions/MNLI_train_RTE_dev/bert-base-uncased/bert_base_3_class_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-base-uncased/bert_base_2_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-base-uncased/bert_base_2_class_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-base-uncased/bert_base_2_class_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-base-uncased/bert_base_3_class_hypo_only_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-base-uncased/bert_base_3_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-base-uncased/bert_base_2_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-base-uncased/bert_base_2_class_hypo_only_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-base-uncased/bert_base_3_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-base-uncased/bert_base_2_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-base-uncased/bert_base_3_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/bert-base-uncased/bert_base_3_class_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/bilstm/
model_predictions/MNLI_train_RTE_dev/bilstm/bilstm_2_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/bilstm/bilstm_3_class_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/bilstm/bilstm_3_class_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_dev/bilstm/bilstm_2_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/bilstm/bilstm_3_class_hypo_only_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/bilstm/bilstm_3_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/bilstm/bilstm_3_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_dev/bilstm/bilstm_3_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_dev/bilstm/bilstm_2_class_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_dev/bilstm/bilstm_2_class_hypo_only_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/bilstm/bilstm_2_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_dev/bilstm/bilstm_2_class_rte_dev_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta-large/
model_predictions/MNLI_train_RTE_dev/roberta-large/roberta_large_2_class_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta-large/roberta_large_3_class_rte_test+p_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta-large/roberta_large_3_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_dev/roberta-large/roberta_large_2_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-base/
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-base/roberta_base_3_class_rte_dev_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-base/roberta_base_3_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-base/roberta_base_2_class_rte_dev_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-base/roberta_base_2_class_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-base/roberta_base_2_class_hypo_only_mnli_mismatched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-base/roberta_base_2_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-base/roberta_base_2_class_mnli_mismatched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-base/roberta_base_2_class_mnli_matched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-base/roberta_base_3_class_mnli_matched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-base/roberta_base_3_class_mnli_mismatched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-base/roberta_base_3_class_hypo_only_rte_dev_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-base/roberta_base_3_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-base/roberta_base_3_class_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-base/roberta_base_3_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-base/roberta_base_2_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-base/roberta_base_2_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-base/roberta_base_3_class_hypo_only_mnli_matched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-base/roberta_base_2_class_hypo_only_mnli_matched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-base/roberta_base_2_class_hypo_only_rte_dev_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-base/roberta_base_3_class_hypo_only_mnli_mismatched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large/
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large/roberta_large_3_class_hypo_only_mnli_mismatched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large/roberta_large_2_class_hypo_only_mnli_matched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large/roberta_large_3_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large/roberta_large_2_class_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large/roberta_large_2_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large/roberta_large_3_class_mnli_matched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large/roberta_large_2_class_hypo_only_rte_dev_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large/roberta_large_3_class_mnli_mismatched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large/roberta_large_3_class_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large/roberta_large_2_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large/roberta_large_3_class_hypo_only_mnli_matched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large/roberta_large_2_class_mnli_matched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large/roberta_large_2_class_mnli_mismatched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large/roberta_large_2_class_rte_dev_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large/roberta_large_3_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large/roberta_large_2_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large/roberta_large_3_class_hypo_only_rte_dev_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large/roberta_large_3_class_rte_dev_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large/roberta_large_2_class_hypo_only_mnli_mismatched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large/roberta_large_3_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/cbow/
model_predictions/MNLI_train_RTE_paraphrased_dev/cbow/cbow_3_class_hypo_only_rte_dev_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/cbow/cbow_3_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/cbow/cbow_3_class_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/cbow/cbow_3_class_hypo_only_mnli_mismatched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/cbow/cbow_2_class_rte_dev_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/cbow/cbow_3_class_mnli_mismatched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/cbow/cbow_2_class_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/cbow/cbow_2_class_mnli_mismatched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/cbow/cbow_3_class_mnli_matched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/cbow/cbow_2_class_hypo_only_mnli_matched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/cbow/cbow_2_class_mnli_matched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/cbow/cbow_2_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/cbow/cbow_2_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/cbow/cbow_3_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/cbow/cbow_3_class_rte_dev_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/cbow/cbow_2_class_hypo_only_rte_dev_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/cbow/cbow_3_class_hypo_only_mnli_matched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/cbow/cbow_2_class_hypo_only_mnli_mismatched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/cbow/cbow_3_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/cbow/cbow_2_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-large-uncased/
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-large-uncased/bert_large_2_class_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-large-uncased/bert_large_2_class_hypo_only_rte_dev_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-large-uncased/bert_large_3_class_rte_dev_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-large-uncased/bert_large_3_class_mnli_matched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-large-uncased/bert_large_2_class_mnli_matched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-large-uncased/bert_large_3_class_hypo_only_mnli_matched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-large-uncased/bert_large_2_class_hypo_only_mnli_mismatched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-large-uncased/bert_large_3_class_hypo_only_mnli_mismatched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-large-uncased/bert_large_2_class_mnli_mismatched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-large-uncased/bert_large_2_class_rte_dev_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-large-uncased/bert_large_3_class_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-large-uncased/bert_large_2_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-large-uncased/bert_large_3_class_mnli_mismatched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-large-uncased/bert_large_2_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-large-uncased/bert_large_2_class_hypo_only_mnli_matched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-large-uncased/bert_large_3_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-large-uncased/bert_large_3_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-large-uncased/bert_large_3_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-large-uncased/bert_large_2_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-large-uncased/bert_large_3_class_hypo_only_rte_dev_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-base-uncased/
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-base-uncased/bert_base_3_class_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-base-uncased/bert_base_2_class_mnli_mismatched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-base-uncased/bert_base_2_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-base-uncased/bert_base_2_class_mnli_matched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-base-uncased/bert_base_2_class_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-base-uncased/bert_base_2_class_rte_dev_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-base-uncased/bert_base_2_class_hypo_only_mnli_matched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-base-uncased/bert_base_3_class_hypo_only_rte_dev_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-base-uncased/bert_base_3_class_mnli_matched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-base-uncased/bert_base_3_class_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-base-uncased/bert_base_2_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-base-uncased/bert_base_2_class_hypo_only_rte_dev_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-base-uncased/bert_base_3_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-base-uncased/bert_base_3_class_hypo_only_mnli_matched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-base-uncased/bert_base_2_class_hypo_only_rte_test_p_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-base-uncased/bert_base_2_class_hypo_only_mnli_mismatched_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-base-uncased/bert_base_3_class_hypo_only_rte_test_predictions.csv
model_predictions/MNLI_train_RTE_paraphrased_dev/bert/bert-base-uncased/bert_base_3_class_mnli_mismatched_predictions.csv

In [ ]:
%cd /content/model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large

/content/model_predictions/MNLI_train_RTE_paraphrased_dev/roberta/roberta-large

In [ ]:
import pandas as pd
import json
import numpy as np
SHEET_NAME = "roberta-mlp"

In [ ]:
def read_jsonl_file(path):
  with open(path, 'r') as json_file:
      json_list = list(json_file)

  results = []
  for json_str in json_list:
      results.append(json.loads(json_str))
  return results

In [ ]:
test_data = pd.DataFrame(read_jsonl_file("/content/gdrive/MyDrive/paraphraser_work/Final_datasets/rte_test_p.jsonl")) # Unannotated dataset: /content/gdrive/MyDrive/paraphraser_work/MTurk data/Generated_dataset/rte_test_paraphrased_p_d_or_h_d_sorted.jsonl
test_data = test_data.fillna(value=np.nan)

In [ ]:
predictions = pd.read_csv('roberta_large_3_class_rte_test_p_predictions.csv')
predictions

,Unnamed: 0,dataset,corpus_sent_id,gold_label,task,sentence1,sentence2,s2_para_id,silver_label,s1_para_id,prediction
0,0,RTE1_test.column,1066,1,RC,"The biggest fires on Mount Graham , the lightn...",The Nuttall and Gibson fires were caused by li...,NaN,NaN,NaN,1
1,1,RTE3_test.column,767,0,SUM,There has been some speculation in the Russian...,Mr Putin is a vehement critic of Mr Litvinenko .,NaN,NaN,NaN,0
2,2,RTE1_test.column,39,1,PP,Mr. Clinton received a hefty advance for the b...,Bill Clinton received a reported $ 10 million ...,NaN,NaN,NaN,0
3,3,RTE2_test.column,485,1,SUM,Insurgent attacks on pipelines have brought oi...,Insurgents have launched attacks on Iraq 's oi...,NaN,NaN,NaN,1
4,4,RTE2_test.column,485,1,SUM,Insurgent attacks on pipelines have brought oi...,Insurgents have launched attacks on Iraq's oil...,RTE2_test.column_s2_485_para1,True,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
3986,3986,RTE3_test.column,214,0,IR,Almost a century of French history has come to...,French conscientious objectors are given speci...,RTE3_test.column_s2_214_para1,False,NaN,0
3987,3987,RTE3_test.column,214,0,IR,Almost a century of French history has come to...,French conscientious objectors are given speci...,RTE3_test.column_s2_214_para2,False,NaN,0
3988,3988,RTE3_test.column,214,0,IR,Almost a century of French history has come to...,French Observers are given special tasks.,RTE3_test.column_s2_214_para3,False,NaN,0
3989,3989,RTE3_test.column,526,1,QA,The most recent underwater volcano eruption wa...,Earthquakes have the potential to generate a t...,NaN,NaN,NaN,1
3990,3990,RTE2_test.column,698,1,QA,The Zapatista Army of National Liberation ( Ej...,EZLN is an armed revolutionary group based in ...,NaN,NaN,NaN,1

In [ ]:
# THIS IS KEY TO OUR WORK, DO NOT ALTER
df = pd.DataFrame()

for index, row in test_data.iterrows():
  dataset = row['dataset']
  corpus_sent_id = row['corpus_sent_id']
  s1_para_id = row['s1_para_id']
  s2_para_id = row['s2_para_id']
  prediction_rows = predictions[(predictions['dataset'] == dataset) & (predictions['corpus_sent_id'] == corpus_sent_id)]
  if pd.isnull(s1_para_id) and pd.isnull(s2_para_id):
    prediction_rows = prediction_rows[(prediction_rows['s1_para_id'].isnull()) & (prediction_rows['s2_para_id'].isnull())]
  elif pd.isnull(s1_para_id):
    prediction_rows = prediction_rows[(prediction_rows['s1_para_id'].isnull()) & (prediction_rows['s2_para_id'] == s2_para_id)]
  elif pd.isnull(s2_para_id):
    prediction_rows = prediction_rows[(prediction_rows['s1_para_id'] == s1_para_id) & (prediction_rows['s2_para_id'].isnull())]
  else:
    prediction_rows = prediction_rows[(prediction_rows['s1_para_id'] == s1_para_id) & (prediction_rows['s2_para_id'] == s2_para_id)]
  df = df.append(prediction_rows)

In [ ]:
df.drop("Unnamed: 0", axis=1, inplace=True)
df

,dataset,corpus_sent_id,gold_label,task,sentence1,sentence2,s2_para_id,silver_label,s1_para_id,prediction
551,RTE1_test.column,25,0,IR,"The film was the evening 's big winner , baggi...",Two films won six Oscars .,NaN,NaN,NaN,0
552,RTE1_test.column,25,0,IR,"The film was the big winner of the evening, wi...",Two films won six Oscars .,NaN,False,RTE1_test.column_s1_25_para1,0
1005,RTE1_test.column,49,1,IR,Kidnappings in Argentina have increased more t...,Argentina sees upsurge in kidnappings .,NaN,NaN,NaN,1
1006,RTE1_test.column,49,1,IR,Kidnappings in Argentina have increased more t...,Argentine sees upsurge in kidnappings.,RTE1_test.column_s2_49_para1,True,NaN,1
2417,RTE1_test.column,75,1,IR,"At the close , the Dow Jones industrial averag...",Dow Jones is down .,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...
2236,RTE3_test.column,796,1,SUM,It has pledged to allow the yuan to float more...,China has an export-driven economy.,RTE3_test.column_s2_796_para1,True,NaN,1
2934,RTE3_test.column,798,0,SUM,"The world 's largest consumer of oil , US impo...",There was a conflict between Israel and Lebanon .,NaN,NaN,NaN,1
2935,RTE3_test.column,798,0,SUM,"The world's largest consumer of oil, US import...",There was a conflict between Israel and Lebanon .,NaN,False,RTE3_test.column_s1_798_para1,1
3043,RTE3_test.column,800,0,SUM,It 's very difficult to get teams from China t...,It is difficult to get the right to stay in Ch...,NaN,NaN,NaN,1
3044,RTE3_test.column,800,0,SUM,It's very difficult to get teams from China th...,It is difficult to get the right to stay in Ch...,NaN,False,RTE3_test.column_s1_800_para1,1

In [ ]:
def task_r1(df):
  grouped_df = df.groupby(["dataset", "corpus_sent_id"])
  incorrect_preds_df = pd.DataFrame()
  for name, group in grouped_df:
    ph = group[group['s1_para_id'].isnull() & group['s2_para_id'].isnull()]
    ph_pred = group[group['s1_para_id'].isnull() & group['s2_para_id'].isnull()]["prediction"].to_list()[0]
    paraphrased_preds = group[~(group['s1_para_id'].isnull() & group['s2_para_id'].isnull())]
    for index, row in paraphrased_preds.iterrows():
      if row["prediction"] != ph_pred:
        # incorrect_preds_df = incorrect_preds_df.append(row)
        dataframe_row = {}
        original_dataset_corpus_id = ph.iloc[0]["dataset"] + "_" + ph.iloc[0]["corpus_sent_id"].astype(str)
        original_premise = ph.iloc[0]["sentence1"]
        original_hypothesis = ph.iloc[0]["sentence2"]
        original_gold_label = ph.iloc[0]["gold_label"]
        original_prediction = ph.iloc[0]["prediction"]
        paraphrased_premise_id = row["s1_para_id"]
        paraphrased_premise = row["sentence1"]
        paraphrased_hypothesis_id = row["s2_para_id"]
        paraphrased_hypothesis = row["sentence2"]
        paraphrased_gold_label = row["gold_label"]
        paraphrase_prediction = row["prediction"]
        original_pair = "P: " + original_premise + "\nH: " + original_hypothesis
        paraphrased_pair = "P: " + paraphrased_premise + "\nH: " + paraphrased_hypothesis
        dataframe_row["dataset_corpus_id"] = original_dataset_corpus_id
        dataframe_row["original_pair"] = original_pair
        dataframe_row["gold_label"] = original_gold_label
        dataframe_row["paraphrased_pair"] = paraphrased_pair
        dataframe_row["s1_para_id"] = paraphrased_premise_id
        dataframe_row["s2_para_id"] = paraphrased_hypothesis_id
        dataframe_row["original_pair_prediction"] = original_prediction
        dataframe_row["paraphrased_pair_prediction"] = paraphrase_prediction
        incorrect_preds_df = incorrect_preds_df.append(dataframe_row, ignore_index=True)
  return incorrect_preds_df

In [ ]:
incorrect_preds = task_r1(df)

In [ ]:
incorrect_preds

,dataset_corpus_id,original_pair,gold_label,paraphrased_pair,s1_para_id,s2_para_id,original_pair_prediction,paraphrased_pair_prediction
0,RTE1_test.column_298,"P: Italy and Germany have each played twice , ...",1.0,"P: Italy and Germany have each played twice , ...",NaN,RTE1_test.column_s2_298_para2,1.0,0.0
1,RTE1_test.column_298,"P: Italy and Germany have each played twice , ...",1.0,P: Italy and Germany have played each other tw...,RTE1_test.column_s1_298_para1,RTE1_test.column_s2_298_para2,1.0,0.0
2,RTE1_test.column_692,"P: The national insurrection of 1794 , led by ...",1.0,"P: The national insurrection of 1794 , led by ...",NaN,RTE1_test.column_s2_692_para1,1.0,0.0
3,RTE1_test.column_831,P: Seven Iraqi men whose hands were ordered cu...,0.0,P: Seven Iraqi men whose hands were ordered cu...,NaN,RTE1_test.column_s2_831_para1,1.0,0.0
4,RTE1_test.column_870,P: Measurements by ground-based instruments ar...,1.0,P: Measurements by ground-based instruments ar...,RTE1_test.column_s1_870_para1,NaN,1.0,0.0
...,...,...,...,...,...,...,...,...
85,RTE3_test.column_681,P: They refused to appear in the World Court 1...,1.0,P: They refused to appear in the World Court 1...,NaN,RTE3_test.column_s2_681_para1,0.0,1.0
86,RTE3_test.column_729,P: By giving this land an economic function we...,0.0,P: By giving this land an economic function we...,RTE3_test.column_s1_729_para1,RTE3_test.column_s2_729_para1,0.0,1.0
87,RTE3_test.column_733,P: A former executive of Digital Equipment Cor...,1.0,P: A former executive of Digital Equipment Cor...,NaN,RTE3_test.column_s2_733_para1,1.0,0.0
88,RTE3_test.column_734,"P: Leona Helmsley , the self-proclaimed queen ...",1.0,"P: Leona Helmsley , the self-proclaimed queen ...",NaN,RTE3_test.column_s2_734_para1,1.0,0.0
89,RTE3_test.column_770,"P: More than 1,000 members of the Russian and ...",0.0,"P: More than 1,000 members of the Russian and ...",NaN,RTE3_test.column_s2_770_para2,1.0,0.0

In [ ]:
with pd.ExcelWriter('/content/gdrive/MyDrive/paraphraser_work/Gold_label_change/model_incorrect_preds.xlsx', mode='a') as writer:  
  incorrect_preds.to_excel(writer, sheet_name=SHEET_NAME, index=False)

In [ ]:
# incorrect_preds.to_excel("/content/gdrive/MyDrive/paraphraser_work/Gold_label_change/model_incorrect_preds.xlsx", sheet_name=SHEET_NAME, index=False)